.outerBorder{
    background-color: #FFF;
}
.modal{
    --bs-modal-width:60%;
}
.fa-download{
    transition: 0.2s;
  }
.fa-upload{
  transition: 0.2s;

}
.fa-download:hover{
    background-color:green!important;
    color:#FFF!important;
    cursor: pointer;
}
.fa-upload:hover{
  background-color:green!important;
  color:#FFF!important;
  cursor: pointer;
}
.fa-cloud-arrow-up{
cursor: pointer;
}