<div id="All_Kids">
    <div class="container-fluid">
        <div class="row mx-5 mt-3">
            <div class="col-md-9 d-flex">
                <div class="form_group mx-1">
                    <label class="fo_1 px-4 pb-2 text-black">Title</label>
                    <input type="text" class="form-control CusInput bg_light" placeholder="ex.Book">
                </div>
                <div class="form_group mx-1">
                    <label class="fo_1 px-4 pb-2 text-black">Author</label>
                    <input type="text" class="form-control CusInput bg_light" placeholder="ex.Ahmed">
                </div>
                <div class="form_group mx-1">
                    <label class="fo_1 px-4 pb-2 text-black">Publisher</label>
                    <input type="text" class="form-control CusInput bg_light" placeholder="ex.Ali">
                </div>
            </div>
            <div class="col-md-3 d-flex px-2 mt-3">
                <div class="d-flex align-items-center mx-1">
                    <i class="fa-solid fa-magnifying-glass fs-5 mainIcon bg_light"></i>
                </div>
                <div class="d-flex align-items-center mx-1">
                    <i data-bs-toggle="modal" data-bs-target="#AddModal" class="fa-solid fa-circle-plus fs-5 mainIcon bg_light"></i>
                </div>
                <div class="d-flex align-items-center mx-1">
                    <i (click)="toggleDelete()" class="fa-solid fa-trash fs-5 mainIcon bg_light"></i>
                </div>
            </div>
        </div>
        <div class="outerBorder outerItem shadow_5 py-53">

            <table class="table table-striped text-center">
                <thead class="tableHead">
                    <th class="py-2"></th>
                    <th class="py-2">Title</th>
                    <th class="py-2">Author</th>
                    <th class="py-2">Publisher</th>
                    <th class="py-2">Publication <br> date</th>
                    <th class="py-2">ISBN</th>
                    <th class="py-2">Availability</th>
                    <th class="py-2 Delete" style="display: none;">Delete</th>
                </thead>
                <tbody *ngIf="this.ErrorMsg==''">

                    <tr *ngFor="let item of AllKids|search:term|paginate:{
                            itemsPerPage:tableSize,
                            currentPage:page,
                            totalItems:count}; let i=index">
                        <td style="max-width: 1rem;">
                            <img src="../../../assets/imgs/book.jpg" class="w-75">
                        </td>
                        <td class="align-middle">{{item.title}}</td>
                        <td class="align-middle">{{item.Author}}</td>
                        <td class="align-middle">{{item.Publisher}}</td>
                        <td class="align-middle">{{item.Publication}}</td>
                        <td class="align-middle">{{item.ISBN}}</td>
                        <td class="align-middle text-success">{{item.available}}</td>
                        <td class="Delete" style="vertical-align: middle;display: none;">
                            <i data-bs-toggle="modal" data-bs-target="#DeleteModal" class="fa-regular fa-trash-can fs-5 px-3 py-2" style="color:#FF4081"></i>
                        </td>
                    </tr>
                </tbody>

            </table>
            <div class="d-flex justify-content-end mt-4">
                <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                </pagination-controls>
                <select style="border: solid 2px #4758B8;" (change)="onTableSizeChange($event)"
                    class="tableSize rounded-pill px-1">
                    <option *ngFor=" let size of tableSizes">{{size}}</option>
                </select>
            </div>
            <div id="loading" *ngIf="loading">
                <app-spinner class="d-flex justify-content-center m-auto"></app-spinner>
            </div>

        </div>

    </div>

</div>

<!--------------------------------------- / Add Modal  --------------------------->
<div class="modal fade" id="AddModal" tabindex="-1" aria-labelledby="networkCoding" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ShowDetailsModal">Add New Item</h1>
            </div>
            <div class="container">
                <div class="row py-3">
                    <div class="col-12">
                        <div class="form_group mx-1">
                            <label class="fo_1 px-4 pb-2 text-black">Title</label>
                            <input type="text" class="form-control CusInput bg_light" placeholder="Enter the item’s title">
                        </div>
                    </div>
                    <div class="col-6 mt-2">
                        <div class="form_group mx-1">
                            <label class="fo_1 px-4 pb-2 text-black">Author</label>
                            <input type="text" class="form-control CusInput bg_light" placeholder="Enter the item’s Author">
                        </div>
                    </div>
                    <div class="col-6 mt-2">
                        <div class="form_group mx-1">
                            <label class="fo_1 px-4 pb-2 text-black">Publisher</label>
                            <input type="text" class="form-control CusInput bg_light" placeholder="Enter the item’s Publisher">
                        </div>
                    </div>
                    <div class="col-12 mt-2">
                        <div class="form_group mx-1">
                            <label class="fo_1 px-4 pb-2 text-black">Barcode</label>
                            <input type="text" class="form-control CusInput bg_light" placeholder="Enter the item’s Barcode">
                        </div>
                    </div>
                    <div class="col-12 mt-2">
                        <div class="form_group mx-1">
                            <label class="fo_1 px-4 pb-2 text-black">ISBN</label>
                            <input type="text" class="form-control CusInput bg_light" placeholder="Enter the item’s ISBN">
                        </div>
                    </div>
                    <div class="col-6 mt-2">
                        <div class="form_group mx-1">
                            <label class="fo_1 px-4 pb-2 text-black">Subject</label>
                            <select class="form-select CusInput bg_light">
                                <option value="1">Algebra</option>
                                <option value="2">Drama</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6 mt-2">
                        <div class="form_group mx-1">
                            <label class="fo_1 px-4 pb-2 text-black">Publication date</label>
                            <input type="date" class="form-control CusInput bg_light" placeholder="Enter the item’s Publication date">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer py-3 px-3 d-flex justify-content-between">
                <button mat-raised-button class="mat-blue" mat-raised-button color="primary">
                    <span *ngIf="!this.isCliked">Save <i class="fa-solid fa-check"></i></span>
                    <span *ngIf="this.isCliked"><i class="fa-solid fa-fan fa-spin"></i></span>
                </button>
                <button  id="close" type="button" mat-raised-button
                    data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--------------------------------------- / Delete Modal  --------------------------->
<div class="modal fade" id="DeleteModal" tabindex="-1" aria-labelledby="networkCoding" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ShowDetailsModal">Delete Item</h1>
            </div>
            <div class="container">
                <h2 class="my-5 text-center">
                    Are you sure you want to delete <br>
                    Larbi SAIDCHIKH?
                </h2>
            </div>
            <div class="modal-footer py-3 px-3 d-flex justify-content-between">
                <button mat-raised-button class="mat-blue">
                    <span *ngIf="!this.isCliked">Yes <i class="fa-solid fa-check"></i></span>
                    <span *ngIf="this.isCliked"><i class="fa-solid fa-fan fa-spin"></i></span>
                </button>
                <button  id="close" type="button" mat-raised-button
                    data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>