<div id="All_Kids">
    <div class="container-fluid">
        <div class="row mx-5 mt-3">
            <div class="col-md-9 d-flex">
                <div class="form_group mx-1">
                    <label class="fo_1 px-4 pb-2 text-black">Full Name</label>
                    <input type="text" class="form-control CusInput bg_light" placeholder="ex.Admed Ali">
                </div>
                <div class="form_group mx-1">
                    <label class="fo_1 px-4 pb-2 text-black">Email</label>
                    <input type="text" class="form-control CusInput bg_light" placeholder="ex.aya@gmail.com">
                </div>
                <div class="form_group mx-1">
                    <label class="fo_1 px-4 pb-2 text-black">ID</label>
                    <input type="text" class="form-control CusInput bg_light" placeholder="ex.145454">
                </div>
            </div>
            <div class="col-md-3 d-flex px-2 mt-3">
                <div class="d-flex align-items-center mx-1">
                    <i class="fa-solid fa-magnifying-glass fs-5 mainIcon bg_light"></i>
                </div>
                <div class="d-flex align-items-center mx-1">
                    <i data-bs-toggle="modal" data-bs-target="#AddModal" class="fa-solid fa-circle-plus fs-5 mainIcon bg_light"></i>
                </div>
                <div class="d-flex align-items-center mx-1">
                    <i (click)="toggleDelete()" class="fa-solid fa-trash fs-5 mainIcon bg_light"></i>
                </div>
            </div>
        </div> 
        <div class="outerBorder outerItem shadow_5 py-53">
       
                <table class="table table-striped text-center">
                    <thead class="tableHead">
                        <th class="py-2"></th>
                        <th class="py-2">Full Name</th>
                        <th class="py-2">username</th>
                        <th class="py-2">Email</th>
                        <th class="py-2">Id</th>
                        <th class="py-2 Delete" style="display: none;">Delete</th>

                    </thead>
                    <tbody *ngIf="this.ErrorMsg==''">
                        
                        <tr *ngFor="let item of AllStudent|search:term|paginate:{
                            itemsPerPage:tableSize,
                            currentPage:page,
                            totalItems:count}; let i=index">
                            <td style="max-width: 1rem!important;">
                                <img src="../../../assets/imgs/Aya2.jpg" class="w-25" style="border-radius: 50%;">
                            </td>
                            <td class="align-middle">test</td>
                            <td class="align-middle">{{item.username}}</td>
                            <td class="align-middle">{{item.email}}</td>
                            <td class="align-middle">test</td>
                            <td class="Delete" style="vertical-align: middle;display: none;">
                                <i data-bs-toggle="modal" data-bs-target="#DeleteModal" class="fa-regular fa-trash-can fs-5 px-3 py-2" style="color:#FF4081"></i>
                            </td>
                        </tr>
                    </tbody>
    
                </table>
                <div class="d-flex justify-content-end mt-4">
                    <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                    </pagination-controls>
                    <select style="border: solid 2px #4758B8;" (change)="onTableSizeChange($event)" class="tableSize rounded-pill px-1">
                      <option *ngFor=" let size of tableSizes">{{size}}</option>
                    </select>
                </div>
                <div id="loading" *ngIf="loading">
                    <app-spinner class="d-flex justify-content-center m-auto"></app-spinner>
                </div>

        </div>

    </div>

</div>



<!--------------------------------------- / Add Modal  --------------------------->
<div class="modal fade" id="AddModal" tabindex="-1" aria-labelledby="networkCoding" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ShowDetailsModal">Add New Student</h1>
            </div>
            <div class="container">
                <form [formGroup]="Form">
                    <div class="row py-3">
                    <div class="col-12">
                        <div class="form_group mx-1">
                            <label class="fo_1 px-4 pb-2 text-black">Full Name</label>
                            <input formControlName="fullName" type="text" class="form-control CusInput bg_light" placeholder="Enter the Student’s Full Name">
                        </div>
                    </div>
                    <div class="col-6 mt-2">
                        <div class="form_group mx-1">
                            <label class="fo_1 px-4 pb-2 text-black">User Name</label>
                            <input formControlName="username" type="text" class="form-control CusInput bg_light" placeholder="Enter the Student’s Email">
                        </div>
                    </div>
                    <div class="col-6 mt-2">
                        <div class="form_group mx-1">
                            <label class="fo_1 px-4 pb-2 text-black">Password</label>
                            <input formControlName="password" type="password" class="form-control CusInput bg_light" placeholder="Enter the Student’s Email">
                        </div>
                    </div>
                    <div class="col-6 mt-2">
                        <div class="form_group mx-1">
                            <label class="fo_1 px-4 pb-2 text-black">Email</label>
                            <input formControlName="email" type="email" class="form-control CusInput bg_light" placeholder="Enter the Student’s Email">
                        </div>
                    </div>
                    <div class="col-6 mt-2">
                        <div class="form_group mx-1">
                            <label class="fo_1 px-4 pb-2 text-black">Id</label>
                            <input type="text" class="form-control CusInput bg_light" placeholder="Enter the Student’s Id">
                        </div>
                    </div>
                </div>
                </form>
            </div>
            <div class="modal-footer py-3 px-3 d-flex justify-content-between">
                <button (click)="SubmitAddStudent()" [disabled]="isClicked ||Form.status=='INVALID'" mat-raised-button class="mat-blue" mat-raised-button color="primary">
                    <span *ngIf="!this.isClicked">Save <i class="fa-solid fa-check"></i></span>
                    <span *ngIf="this.isClicked"><i class="fa-solid fa-fan fa-spin"></i></span>
                </button>
                <button  id="close" type="button" mat-raised-button
                    data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--------------------------------------- / Delete Modal  --------------------------->
<div class="modal fade" id="DeleteModal" tabindex="-1" aria-labelledby="networkCoding" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ShowDetailsModal">Delete Item</h1>
            </div>
            <div class="container">
                <h2 class="my-5 text-center">
                    Are you sure you want to delete <br>
                    This Student ?
                </h2>
            </div>
            <div class="modal-footer py-3 px-3 d-flex justify-content-between">
                <button mat-raised-button class="mat-blue">
                    <span *ngIf="!this.isClicked">Yes <i class="fa-solid fa-check"></i></span>
                    <span *ngIf="this.isClicked"><i class="fa-solid fa-fan fa-spin"></i></span>
                </button>
                <button  id="close" type="button" mat-raised-button
                    data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>