<div id="Create_New_School">
    <div class="container">
        <div class="d-flex justify-content-start mx-5 mt-5">
            <p class="font_Coloered3 text-center">Create New School</p>
        </div> 
        <div class="outerBorder shadow_5 py-5">
            <div class="row ">
                <div class="col-md-5 offset-md-1 d-flex align-items-center">
                    <form [formGroup]="AddSchoolForm">
                        <mat-form-field class="w-100" appearance="fill" color="primary" data-aos-duration="700" data-aos="fade-right">
                            <mat-label>School Name</mat-label>
                            <input formControlName="name" type="text" matInput>
                        </mat-form-field>
                        <button (click)="submitAddSchool()" [disabled]="this.AddSchoolForm.status=='INVALID'" mat-raised-button color="primary" class="w-50 my-2" data-aos-duration="700" data-aos="zoom-in">Create</button>
                    </form>
                </div>
                <div class="col-md-6">
                    <img src="../../../../assets/imgs/Creeate-school.svg" class="w-75" alt="parent Img" data-aos-duration="1000" data-aos="fade-left">
                </div>

            </div>
        </div>
    </div>
</div>