<div id="CollectionAdmin">
    <div class="outerBorder outerItem py-3">

        <!-------------------- Search results ------------------->

        <div style="overflow: auto;" id="SearchResults" class="outerBorder outerItem shadow_5">
            <div class="px-3">
                <button id="Save" style="display: none;" [disabled]="this.ArrTest.length==0||this.isClicked"
                    (click)="SumbitPortfolios()" mat-raised-button class="w-100 tabeeb_Btn my-2">
                    <span *ngIf="this.isClicked"><i class="fa-4 fa-solid fa-fan fa-spin"></i></span><span
                        *ngIf="!this.isClicked">Save <i class="fa-regular fa-floppy-disk"></i></span>
                </button>
            </div>
            <table class="table text-center table-responsive">
                <thead class="py-5 main_color" style="background-color: #F2F2F2 !important;">
                    <th class="py-3">Student</th>
                    <th class="py-3">title</th>
                    <th class="py-3">isbn</th>
                    <th class="py-3">Request date</th>
                    <th class="py-3">Decision</th>
                </thead>
                <tbody>

                    <tr *ngFor="let Policy of AllItems;let index= index">
                        <td class="align-middle">{{Policy.fullname}}</td>
                        <td class="align-middle">{{Policy.title}}</td>
                        <td class="align-middle">{{Policy.isbn}}</td>
                        <td class="align-middle">{{Policy.date}}</td>
                        <td class="align-middle d-flex justify-content-center">
                            <select (change)="getApproveDecision(Policy.id , $event.target)" class="form-select w-50">
                                <option style="background-color: #FFF;" value="" selected>Null</option>
                                <option style="background-color: #E2F2E9;" value="1">Approve</option>
                                <option style="background-color: #FBECEC;" value="0">DisApprove</option>
                            </select>
                        </td>

                    </tr>
                </tbody>

            </table>

            <!-- total Money-->

            <!-- Loading -->
            <div id="loading" *ngIf="loading">
                <app-spinner class="d-flex justify-content-center m-auto"></app-spinner>
            </div>
        </div>
    </div>

</div>