<div id="Kids_Form">
    <div class="container">
        <div class="d-flex justify-content-start mx-5 mt-5">
            <p class="font_Coloered3 text-center">Add Kids</p>
      </div> 
        <div class="outerBorder shadow_5">
            <div class="row">
                
                <div class="col-lg-4">
                    <img src="../../../../assets/imgs/kids.svg" class="w-100" alt="parent Img" data-aos-duration="1000" data-aos="fade-left">
                    <!-- <ng-lottie [options]="father">
                    </ng-lottie> -->
                    
                </div>
                <div class="col-md-8 d-flex align-items-center">
                    <div>
                        <div class="row">
                            <div class="col-md-5 offset-md-1">
                                <mat-form-field class="w-100" appearance="fill" color="primary" data-aos-duration="700" data-aos="fade-right">
                                    <mat-label>Parent Name</mat-label>
                                    <input readonly value="{{this.parentName}}" type="text" matInput>
                                    <mat-icon matIconSuffix style="color: rgba(0, 0, 0, 0.6)"> perm_identity</mat-icon>
                                </mat-form-field>
                                <mat-form-field class="w-100" appearance="fill" color="primary" data-aos-duration="700" data-aos="fade-right">
                                    <mat-label>Total Fees</mat-label>
                                    <input readonly value="{{this.AllFees}}" type="text" matInput>
                                    <mat-icon matIconSuffix style="color: rgba(0, 0, 0, 0.6);"> <i class="fa-solid fa-money-bill"></i></mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="col-md-5">
                                <mat-form-field class="w-100" appearance="fill" color="primary" data-aos-duration="700" data-aos="fade-right">
                                    <mat-label>Parent Age</mat-label>
                                    <input readonly value="{{this.parentAge}}" type="number" matInput>
                                    <mat-icon matIconSuffix style="color: rgba(0, 0, 0, 0.6);"> <i class="fa-regular fa-calendar"></i></mat-icon>
                                </mat-form-field>
                            </div>
                                                            
                            
                        </div>
                        <hr style="width: 80%;margin: auto;" class="my-5">
                        <!-- Kids Form -->
                        <div class="row">
                            <div class="col-5 offset-1">
                                <mat-form-field class="w-100" appearance="fill" color="accent" data-aos-duration="700" data-aos="fade-right">
                                    <mat-label>Kid Name</mat-label>
                                    <input [(ngModel)]="kidName" type="text" matInput>
                                    <mat-icon matIconSuffix style="color: rgba(0, 0, 0, 0.6);"> <i class="fa-solid fa-child"></i></mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="col-5">
                                <mat-form-field class="w-100" appearance="fill" color="accent">
                                    <mat-label>School</mat-label>
                                    <mat-select [(value)]="schoolId">
                                        <!-- <mat-option value="Orman">Orman</mat-option> -->
                                        <mat-option *ngFor="let school of AllSchools" value="{{school.schoolsId}}">{{school.name}}</mat-option>
                                    </mat-select>
                                    <mat-icon matIconSuffix style="color: rgba(0, 0, 0, 0.6);"> <i class="fa-solid fa-school fs-5"></i></mat-icon>
                                </mat-form-field>
                            </div>
                            
                            <div class="col-4 offset-1">
                                <mat-form-field class="w-100" appearance="fill" color="accent">
                                    <mat-label>Grade</mat-label>
                                    <mat-select [(value)]="termVal">
                                        <mat-option value="1">1</mat-option>
                                        <mat-option value="2">2</mat-option>
                                        <mat-option value="3">3</mat-option>
                                        <mat-option value="4">4</mat-option>
                                        <mat-option value="5">5</mat-option>
                                        <mat-option value="6">6</mat-option>
                                        <mat-option value="7">7</mat-option>
                                        <mat-option value="8">8</mat-option>
                                        <mat-option value="9">9</mat-option>
                                        <mat-option value="10">10</mat-option>
                                        <mat-option value="12">11</mat-option>
                                        <mat-option value="12">12</mat-option>
                                    </mat-select>
                                    <mat-icon matIconSuffix style="color: rgba(0, 0, 0, 0.6);"> <i class="fa-solid fa-user-graduate fs-5"></i></mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="w-100" appearance="fill" color="accent" data-aos-duration="700" data-aos="fade-right">
                                    <mat-label>Fees</mat-label>
                                    <input [(ngModel)]="feesVal" type="text" matInput>
                                    <mat-icon matIconSuffix style="color: rgba(0, 0, 0, 0.6);"> <i class="fa-solid fa-money-bill fs-5"></i></mat-icon>
                                </mat-form-field>

                                <!-- <mat-form-field class="w-100" appearance="fill" color="accent">
                                    <mat-label>Fees</mat-label>
                                    <mat-select [(value)]="feesVal">
                                        <mat-option value="10000">10000</mat-option>
                                        <mat-option value="20000">20000</mat-option>
                                        <mat-option value="30000">30000</mat-option>
                                        <mat-option value="40000">40000</mat-option>
                                        <mat-option value="50000">50000</mat-option>
                                        <mat-option value="60000">60000</mat-option>
                                        <mat-option value="70000">70000</mat-option>
                                    </mat-select>
                                </mat-form-field> -->
                            </div>
                            <div class="col-3 d-flex align-items-center">
                                <button (click)="view()" class="w-50" [disabled]="kidName==''||schoolId==''||feesVal==''||termVal==''" mat-raised-button color="accent">Add</button>
                            </div>
                        </div>
                        <table *ngIf="this.arr.length>0"  class="table table-striped text-center">
                            <thead>
                                    <th>Kid Name</th>
                                    <th>School Name</th>
                                    <th>Grade</th>
                                    <th>Fees</th>
                                    <th></th>
                            </thead>
                            <tbody>
                                    <tr *ngFor="let item of arr;let index = index">
                                        <td>{{item?.kidsName}}</td>
                                        <td>{{item?.schoolsName}}</td>
                                        <td >{{item?.grade}}</td>
                                        <td>{{item?.fees}}</td>
                                        <td><button color="warn" (click)="remove(index)"mat-raised-button>Remove</button></td>
                                    </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>{{this.AllFees}}</th>
                                
                                <th><button (click)="SubmitAddKids()" mat-raised-button color="primary" [disabled]="this.arr.length<1||this.isClicked" class="w-50 mt-3"><span *ngIf="this.isClicked">Waiting <i class="fa-solid fa-spinner fa-spin"></i></span> <span *ngIf="!this.isClicked">Save <i class="fa-regular fa-floppy-disk"></i></span></button></th>
                                    <!-- <th><button (click)="SubmitAddKids()" mat-raised-button color="primary" [disabled]="this.arr.length<1" class="w-50 mt-3">Submit</button></th> -->
                                </tr>
                            </tfoot>
                        </table>
                        <!-- <div class="row">
                            <div class="col-md-11 offset-1">
                                <button (click)="SubmitAddKids()" mat-raised-button color="primary" [disabled]="this.arr.length<1" class="w-50 mt-3" data-aos-duration="700" data-aos="zoom-in">Save</button>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>