<div id="Qoutation_Details">
    <div class="accepted" >
        <div class="container">
            <div class="d-flex justify-content-start mx-5 mt-5">
                <p class="font_Coloered3 text-center">Quotation details</p>
            </div> 
            <div class="outerBorder shadow_5 py-5">
                <div class="row">
                    <div class="col-md-7" data-aos-duration="1000" data-aos="fade-right">
                        <table class="outerItem table table-striped table-bordered text-center mt-2" style="border-radius: 20px;">
                            <tbody>
                                <tr>
                                    <th class="w-30 py-3">NoOfKids</th>
                                    <td class="w-60 py-3">{{quotaionDetails?.noOfKids}}</td>
                                </tr>
                                <tr>
                                    <th class="w-30 py-3">Net Premium</th>
                                    <td class="w-60 py-3">{{quotaionDetails?.netPremium|number:'1.0-7'}}</td>
                                </tr>
                                <tr>
                                    <th class="w-30 py-3">Issue Fees</th>
                                    <td class="w-60 py-3">{{quotaionDetails?.issueFees}}</td>
                                </tr>
                                <tr>
                                    <th class="w-30 py-3">Extra</th>
                                    <td class="w-60 py-3">{{quotaionDetails?.extra}}</td>
                                </tr>
                                <tr>
                                    <th class="w-30 py-3">Admin Fees</th>
                                    <td class="w-60 py-3">{{quotaionDetails?.adminFees}}</td>
                                </tr>
                                <tr>
                                    <th class="w-30 py-3">Gross Annual Premium</th>
                                    <td class="w-60 py-3">{{quotaionDetails?.grossAnnualPremium |number:'1.0-7'}}</td>
                                </tr>
                                <tr>
                                    <th class="w-30 py-3">Total Sum Insured</th>
                                    <td class="w-60 py-3">{{quotaionDetails?.totalSumInsured}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div id="loading" *ngIf="loading">
                            <app-spinner class="d-flex justify-content-center m-auto"></app-spinner>
                        </div>
                        <button mat-raised-button color="primary" class="w-50 mt-3" data-aos-duration="700" data-aos="zoom-in">Accept And Pay</button>
                    
                    </div>
                    <div class="col-md-5">
                        <img src="../../../../assets/imgs/Qoutaion-Details.svg" class="w-100" alt="parent Img" data-aos-duration="1000" data-aos="fade-left">
                    </div>
                </div>
                
    
            </div>
        </div>
    </div>
    
</div>