.outerBorder{
    background-color: #FFF;
}
.p_3{
    color: rgba(0,0,0,0.6);
    font-size: 1.2rem;
}
.mat-mdc-radio-button.mat-accent{
    // --mdc-radio-selected-focus-icon-color: #3f51b5!important;
    --mdc-radio-selected-hover-icon-color:#3f51b5;
    --mdc-radio-selected-icon-color:#3f51b5;
}
mat-label{
    font-size: 1.05rem;
    font-weight: 500;
}
input{
    font-size: 1.1rem!important;
}