
    //Side Nav
mat-sidenav-container{
  min-height: 100vh;
}
.mat-drawer-inner-container{
      overflow: initial!important
}
mat-sidenav{
  width:240px;
}
app-sidebar {
  min-height: 100vh!important;
}
.loaderContent{
  display: flex;
  justify-content: center;
  align-items: center;
}
mat-sidenav-content{
  min-height: 92.4vh;
}