<div id="Father_Form">
    <div class="container">
        <div class="d-flex justify-content-start mx-5 mt-5">
            <p class="font_Coloered3 text-center">Parent Information</p>
      </div> 
        <div class="outerBorder shadow_5">
            <div class="row">
                <div class="col-md-5 d-flex align-items-center">
                        <div>
                            <form [formGroup]="PatentForm">
                                <mat-form-field class="w-100" appearance="fill" color="primary" data-aos-duration="700" data-aos="fade-right">
                                    <mat-label>Parent Name</mat-label>
                                    <input formControlName="parentName" type="text" matInput>
                                    <mat-icon matIconSuffix style="color: rgba(0, 0, 0, 0.5);"> perm_identity</mat-icon>
                                </mat-form-field>
                                <mat-form-field class="w-100" appearance="fill" color="primary" data-aos-duration="700" data-aos="fade-right">
                                    <mat-label>Gender</mat-label>
                                    <mat-select [(value)]="genderValue">
                                    <mat-option value="0">Male</mat-option>
                                    <mat-option value="1">Female</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field class="w-100" appearance="fill" color="primary" data-aos-duration="700" data-aos="fade-right">
                                    <mat-label>Date of Birth</mat-label>
                                    <input formControlName="dateOfBirthDay" matInput [matDatepicker]="picker">
                                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                                <mat-form-field class="w-100" appearance="fill" color="primary" data-aos-duration="700" data-aos="fade-right">
                                    <mat-label>Email</mat-label>
                                    <input formControlName="email" type="text" matInput>
                                    <mat-icon matIconSuffix style="color: rgba(0, 0, 0, 0.5);">email</mat-icon>
                                </mat-form-field>
                                <mat-form-field class="w-100" appearance="fill" color="primary" data-aos-duration="700" data-aos="fade-right">
                                    <mat-label>Mobile No.</mat-label>
                                    <input formControlName="phoneNumber" type="number" matInput>
                                    <mat-icon matIconSuffix style="color: rgba(0, 0, 0, 0.5);">phone_iphone</mat-icon>
                                </mat-form-field>
                                <button (click)="submitParentForm()" [disabled]="this.PatentForm.status=='INVALID' || this.genderValue==''||this.isClicked" class="w-50 mt-3" data-aos-duration="700" data-aos="zoom-in" mat-raised-button color="primary"><span *ngIf="this.isClicked">Waiting <i class="fa-solid fa-spinner fa-spin"></i></span> <span *ngIf="!this.isClicked">Save <i class="fa-regular fa-floppy-disk"></i></span></button>
                            
                            </form>
                        </div>
                </div>
                <div class="col-lg-7">
                    <img src="../../../../assets/imgs/father1.svg" class="w-100" alt="parent Img" data-aos-duration="1000" data-aos="fade-left">
                    <!-- <ng-lottie [options]="father">
                    </ng-lottie> -->
                    
                  </div>
            </div>
        </div>
    </div>
</div>