#login{
    min-height: 90vh;
}
.inner{
    border-radius: 0.6rem;
}

.font_Coloered3:before{
    content: '';
    padding-left: 0.7rem;
    border-left: solid 0.32rem #4758B8;
}
mat-label{
    font-size: 1.05rem;
    font-weight: 500;
}
input{
    font-size: 1.1rem!important;
}