     <!-- Navbar -->

<nav class="navbar navbar-expand-lg navbar-light w-100 py-3 bg_blue" [dir]="'dir'| translate">
  <div class="container mx-3">
    <div class="d-flex w-50">
      <div id="menu" class="d-flex align-items-center mx-5">
        <div (click)="handleSideBar()" style="cursor: pointer;">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <p class="h2 fw-bold text-white" style="margin-bottom: 0!important;">
        
        <span *ngIf="Role=='student'">Students</span>
        <span *ngIf="Role=='admin'">Admin</span>
      </p>


    </div>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav  mb-2 mb-lg-0">
           <li class="nav-item">
            <!-- <a class="nav-link text_nav mx-2" aria-current="page" routerLink="/FatherForm" routerLinkActive="active">Parent Form</a> -->
          </li>

        </ul>
        <button (click)="logOut()" class="btn btn_test mx-2  mb-lg-0">Log Out</button> 
         
      </div>
  </div>
</nav>


