/* You can add global styles to this file, and also import other style files */
@import "~aos/dist/aos.css";
@import 'ngx-toastr/toastr';
html, body{ height: 100%;
    font-family: 'Noto Sans', sans-serif!important;
    font-size: 16px; 
    // scroll-behavior: smooth;
}

        ///Modal Settings
.modal-backdrop{
    --bs-backdrop-zindex:0;
}
.modal{
    background-color: rgba(0, 0, 0 ,0.5);
    z-index: 5!important;
}
.modal-backdrop.show {
    opacity:0!important;
    position:static!important
}
        // Some Shadows
.shadow_1{
    box-shadow:  rgba(0, 0, 0, 0.3) 0px 10px 36px -18px inset;
}
.shadow_2{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.shadow_3{                                     //gg
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;        }
.shadow_4{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.shadow_5{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
        // Fonts
.font_Coloered{
    color: #d97706;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 1px;
}

.btn_colored{
    background-color: #d97706;
    color:#fff;
    transition: 0.5s;
}
.btn_colored:hover{
    background-color:#09c;
    color:#fff
}


.font_2{
    color: #555;
    font-family: -apple-system;
    font-size: 0.9rem;
}
.outerBorder{
    border:1px solid transparent;
    margin:1.2rem;
    padding: 1.2rem;
    border-radius: 0.5rem;
}
.smallOuterBorder{
    border:1px solid transparent;
    margin:0.2rem;
    padding: 0.2rem;
    border-radius: 0.5rem;
}
.font_Coloered3:before{
    content: '';
    padding-left: 0.7rem;
    border-left: solid 0.32rem #4758B8;
}

.w_39{
    width:39%;
}
.w_61{
    width:61%;
}
.mdc-list {
    margin: 0;
    padding: 0px 0;
  }

// Custom Buttons Angular Material
.mat-test{
    --mdc-protected-button-container-color: #09c;
    --mdc-protected-button-label-text-color: #fff;
    letter-spacing: 0.8px;
    // font-weight: 900;
    // color: #AA7CCA;
}
.mat-green{
    --mdc-protected-button-container-color: #52BCED;
    --mdc-protected-button-label-text-color: #000;
    // font-weight: 600;
    font-size: 1.02rem;
}
.mdc-button__label{
    letter-spacing: 0.5px!important;

}
.tableHead th{
    font-size: 1rem;
    min-width: 6.5rem;
}
.mat-drawer.mat-drawer-side {
    z-index: 0!important;
}
    /////////// table Setting /////////////
thead th{
    font-size:0.8rem!important;
}
tr td{
    font-size:0.8rem!important;
}

.mdc-button .mdc-button__label {
    font-size: 0.82rem!important;
}
.outerItem{
    position :relative;
    min-height: 21vh;
}
#loading{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.25);
}
td i{
    cursor: pointer;
    border-radius: 7px;
  }
  .fa-pencil{
    transition: 0.2s;
  }
  .fa-pencil:hover{
    background-color:#3F51B5;
    color:#FFF!important;
  }
  .fa-trash-can{
    transition: 0.2s;
  }
  .fa-trash-can:hover{
    background-color:#FF4886;
    color:#FFF!important;
  }
  .fa-eye{
    transition: 0.2s;
  }
  .fa-eye:hover{
    background-color:green!important;
    color:#FFF!important;
  }
  
.tableSize{
    border: solid 2px #4758B8!important;
}

.w-30{
    width: 40%;
}
.w-60{
    width: 60%;
}
tr td{
    font-size: 1rem!important;
    font-family: 'Noto Sans', sans-serif;
}

.ngx-pagination .current{
    background-color: #4758B8!important;
}
@media all and (max-width:750px){
html{
    font-size: 14px!important;
}
#objectInputs{
    width: 100%!important;
}
.mdc-button{
    font-size: 12px;
}
}
// Font button Material
.mdc-button .mdc-button__label {
    font-size: 1rem!important;
}
///////////////////// New
.bg_blue{
    background-color: #463785;
}
.bg_2{
    background-color:#F6F6E9 ;
}
.fo_1{
    color: #FFF;
    font-weight: bold;
}
.CusInput{
    padding: 1rem 1rem;
    border-radius: 5rem;
}
.btn{
    // padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    font-weight: bold;
}
.bg_light{
    background-color: #f1f1e9
}

.tabeeb_Btn{
    color: #FFF!important;
    background-color: #463785!important;
}
.tabeeb_Btn:disabled,.tabeeb_Btn:disabled:hover{
    background-color: rgba(0, 0, 0, 0.2)!important; 
    cursor:not-allowed!important;
}

.badge {
    --bs-badge-font-size: 0.8rem;
    display: flex;
    align-items: center!important;
}