<div style="border-bottom: none;min-height: 100vh;" class="bg_2">
    <!-- Logo -->
     <div class="text-center">
        <img src="../../../../assets/imgs/cairo.png" class="w-50 my-2">
     </div>
    <!-- Person -->
     <div class="d-flex my-3 align-items-center">
        <img src="../../../../assets/imgs/Aya2.jpg" class="mx-3" style="border-radius: 50%;width: 30%;">
        <div class="px-1 mt-2">
            <p class="fo_1 text-black">{{Name}}</p>
            <p class="text-muted">Librarian</p>
        </div>
        <i class="fa-solid fa-chevron-down mx-1 text-muted" style="cursor: pointer;"></i>
     </div>
    <!-- Dashboard -->
    <!-- <div *ngIf="this._AuthService.isLoggedIn()" class="accordion accordion-flush" id="accordionFlushExample"> -->
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button routerLink="/AdminDashboard" routerLinkActive="active" class="w-100 collapsed px-2" type="button" data-bs-toggle="collapse" data-bs-target="#H_2">
                    <i class="fa fa-grip-horizontal"></i> Dashboard
                </button>
            </h2>
        </div>
    </div>
    <div class="accordion accordion-flush" id="accordionFlushExample" *ngIf="this.Role=='admin'">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button routerLink="/LibraryLoan" routerLinkActive="active" class="w-100 collapsed px-2" type="button" data-bs-toggle="collapse" data-bs-target="#H_2">
                    <i class="fa-solid fa-repeat"></i> Library Loan
                </button>
            </h2>
        </div>
    </div>
    <div class="accordion accordion-flush" id="accordionFlushExample" *ngIf="this.Role=='admin'">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button routerLink="/Books" routerLinkActive="active" class="w-100 collapsed px-2" type="button" data-bs-toggle="collapse" data-bs-target="#H_2">
                    <i class="fa-solid fa-book"></i> Books
                </button>
            </h2>
        </div>
    </div>
    <div class="accordion accordion-flush" id="accordionFlushExample" *ngIf="this.Role=='admin'">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button routerLink="/Students" routerLinkActive="active" class="w-100 collapsed px-2" type="button" data-bs-toggle="collapse" data-bs-target="#H_2">
                    <i class="fa-solid fa-user-graduate"></i> Students
                </button>
            </h2>
        </div>
    </div>
    <!-- Student -->
     <div class="accordion accordion-flush" id="accordionFlushExample" *ngIf="this.Role=='student'">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button routerLink="/StuBooks" routerLinkActive="active" class="w-100 collapsed px-2" type="button" data-bs-toggle="collapse" data-bs-target="#H_2">
                    <i class="fa-solid fa-book"></i> Books
                </button>
            </h2>
        </div>
    </div>

    


</div>