<div class="header">
    <div class="layer">
        <div class="navbar w-100 py-1">
            <div class="container">
                <div class="logo">
                <img src="../../../../assets/imgs/cairo.png" alt="" style="width: 35%;">
            </div>
            <div class="menu">
                <button routerLink="/login" class="btn btn_test mx-2  mb-lg-0">Login</button> 
            </div>
            </div>
        </div>
        <div class="head-content">
            <h1 class="py-5">Welcome to library</h1>
            <p class="py-3">Opens at 9:00 AM</p>
            <p>Closes at 3:00 PM</p>
        </div>
    </div>
</div>